<div class="row g-2"> 
    <div class="col-12 col-sm-6">
        <div class="">
            <div class="row g-1">
                <div class="col">
                    <button [cdkMenuTriggerFor]="templatesSelectMenu" class="app-button app-main-button w-100 app-button-border d-flex flex-row justify-content-between">
                        <span class="text-truncate" style="max-width: 170px;">{{selectConnection === null ? 'Выбрать подключение' : selectConnection.name}}</span>
                        <span class="material-symbols-outlined">
                            expand_more
                        </span>
                    </button>
                    <ng-template #templatesSelectMenu>
                        <div style="max-height: 300px; max-width: 300px;" class="rounded-2 app-transparent-dark-bg border shadow mt-1" cdkMenu>
                            <div class="d-flex flex-column p-1 h-100">
                                <div>
                                    <input [(ngModel)]="searchConnectionName" 
                                    class="form-control form-control-sm app-select shadow-none mb-1" 
                                    placeholder="🔍︎ Поиск" 
                                    type="text">
                                </div>
                                <span *ngIf="connections.length === 0" class="app-color-white75" style="font-size: 12px;">Добавьте хотя бы 1 подключение</span>
                                <ul class="app-active-list mb-0 overflow-auto">
                                    <li *ngFor="let connection of connections | nameFilter : searchConnectionName" 
                                        class="d-flex flex-row justify-content-between rounded-1" 
                                        [ngClass]="{'active' : selectConnection == connection}"
                                        (click)="select(connection)">
                                        <span class="text-truncate app-color-white75">{{connection.name}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div class="col-auto">
                    <button (click)="sendFeedback()" [disabled]="rate == 0 || selectConnection == null || article.length == 0 || isLoad" class="app-icon-button app-main-button app-button-border">
                        <span *ngIf="isLoad == false; else sendButtonSpiner" class="material-symbols-outlined">
                            prompt_suggestion
                        </span>
                        <ng-template #sendButtonSpiner>
                            <app-spiner size="sm"></app-spiner>
                        </ng-template>
                    </button>
                </div>
            </div>
            <div class="row g-1 mt-1">
                <div class="col">
                    <input [(ngModel)]="article"
                    class="form-control form-control-sm rounded-2 app-select shadow-none" placeholder="Артикул"
                    type="text">
                </div>
                <div class="col-auto">
                    <div class="border rounded-2 h-100 active-dark-bg">
                        <app-rating-bar [maxRate]="5" (changeRating)="rate = $event"></app-rating-bar>
                    </div>
                </div>
            </div>
            <textarea [(ngModel)]="feedbackTextArea" style="resize: none; font-size: 14px; height: 200px;" 
            class="form-control app-select shadow-none mt-2" 
            placeholder="Введите предполагаемый отзыв (Либо оставьте пустым)">
            </textarea>
        </div>
    </div>
    <div class="col-12 col-sm-6 app-color-white75">
        <div style="min-height: 50px;" class="rounded-2 active-dark-bg border p-1">
            <div style="font-size: 12px;" class=" lh-sm mb-1">
                Ответ
            </div>
            <div>
                {{responseText}}
            </div>
        </div>
        <div style="min-height: 50px;" class="rounded-2 active-dark-bg border mt-2 p-1">
            <div style="font-size: 12px;" class=" lh-sm mb-1">
                Сборка
            </div>
            <div>
                <pre style="white-space: pre-wrap">{{responseReport}}</pre>
            </div>
        </div>
    </div>
</div>