.active-dark-bg{
    background-color: $active-dark !important;
}

.inactive-dark-bg{
    background-color: $inactive-dark !important;
}

.dark-background{
    background-color: $dark !important;
}

.app-transparent-dark-bg{
    background-color: rgba(29, 29, 29, 0.952);
}

.transporent-bg{
    background-color: $white-transporent0 !important;
}

.app-color-white75{
    color: $white-transporent75;
}