.app-check-input{
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #374861;
    border-color: #497eb6;
  }

.form-check-input:hover{
    border-color: var(--white-transparent75);
}