.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  max-width: 200px; /* настройте максимальную ширину по своему усмотрению */
  overflow: auto; /* добавьте свойство overflow для прокрутки, если контент слишком длинный */
}

.dropdown:hover .dropdown-content {
  display: block;
  left: 0;
  right: auto;
  max-height: calc(100vh - 40px); /* установите максимальную высоту так, чтобы меню помещалось в видимой области экрана */
  overflow-y: auto; /* добавьте свойство overflow-y для вертикальной прокрутки, если контент слишком длинный */
}