<div class="d-flex flex-row">
    <div style="width: 160px;">
        <div class="d-flex flex-row">
            <input [(ngModel)]="newName" class="form-control form-control-sm app-select shadow-none me-1" placeholder="Название" type="text">
            <button [disabled]="newName.length === 0" class="app-button app-main-button app-button-border">
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
        </div>
    </div>
    <div class="flex-fill mx-1">

    </div>
</div>