<div class="h-100">
    <header class="">
      <app-header></app-header>
    </header>
    <main class="h-100">
      <div class="app-body-container h-100">
        <mat-sidenav-container style="background-color: transparent;" class="h-100">
          <mat-sidenav 
          [mode]="isMobile ? 'over' : 'side'" 
          [opened]="isMobile ? 'false' : 'true'" 
          class="transporent-bg shadow-none"
          style="border-right-width: 0px;">
            <div style="height: 20px;"></div>
              <app-sidebar></app-sidebar>
          </mat-sidenav>
          <mat-sidenav-content class="px-2">
            <div style="height: 20px;"></div>
            <router-outlet></router-outlet>
            <div style="height: 20px;"></div>
          </mat-sidenav-content>
        </mat-sidenav-container>  
      </div>
    </main>
  </div>