<div style="min-width: 200px;" class="p-1 rounded-2 border app-transparent-dark-bg shadow mt-1">
    <div *ngIf="viewSettings != null && isLoad == false; else load" class="d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
            <div class="form-check form-switch mb-0">
                <input (change)="update()"  [(ngModel)]="viewSettings.isSkipEmptyFeedbacks" class="form-check-input shadow-none app-check-input" type="checkbox" role="switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">Пропускать пустые отзывы</label>
              </div>
        </div>
        <div class="d-flex flex-row align-items-center">
            <div class="form-check form-switch mb-0">
                <input (change)="update()"  [(ngModel)]="viewSettings.isSkipWithTextFeedbacks" class="form-check-input shadow-none app-check-input" type="checkbox" role="switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">Пропускать отзывы с текстом</label>
              </div>
        </div>
    </div>
    <ng-template #load>
        <app-spiner size="big"></app-spiner>
    </ng-template>
</div>