<app-modal [dialogRef]="dialogRef" name="Отчет">
    <app-progress-bar *ngIf="isLoad else body" class=""></app-progress-bar>
    <ng-template #body>
        <div *ngIf="products.length == 0">
            <div class="app-warn-alert app-color-white75 flex-fill d-flex align-items-center rounded-2 p-1">
                <div style="font-size: 12px;" class="app-color-white75 lh-sm">
                    <span>Необходимо изменить хотя бы 1 товар.</span>
                </div>
            </div>
        </div>
        <div *ngFor="let product of products">
            <div class="row">
                <div class="col-1">
                    <span>{{product.article}}</span>
                </div>
                <div class="col-2">
                    <span>{{product.selsellerArticle}}</span>
                </div>
                <div class="col-9">
                    <div *ngIf="product.editableSizePrice">

                    </div>
                    <div *ngIf="product.editableSizePrice == false">

                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</app-modal>