.progress-bar {
    height: 6px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
  }
  
  .progress {
    position: absolute;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100%;
    background-color: white;
    animation: progressAnimation 2s linear infinite;
  }
  
  @keyframes progressAnimation {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }