<div class="d-flex flex-row align-items-center active-dark-bg rounded-3 flex-fill border app-soft-element-border-color p-1">
    <button [disabled]="isLoad" class="app-button app-button-border me-1" (click)="create()">
        <span>Создать</span>
    </button>
    <button [cdkCopyToClipboard]="token ?? 'Токен отсутствует'" [disabled]="token == null" class="app-icon-button app-button-border me-1">
        <span class="material-symbols-outlined">
            content_copy
        </span>
    </button>
    <div style="min-height: 32px;" class="modal-background rounded-2 flex-fill border px-1 d-flex align-items-center">
        <div *ngIf="isLoad" class="spinner-border spinner-border-sm mx-1 app-color-white75" role="status">
            <span class="visually-hidden"></span>
        </div>  
        <span class="app-color-white75">{{token}}</span>
    </div>
</div>