<div class="active-dark-bg app-warn-alert app-color-white75 flex-fill d-flex align-items-center rounded-2 py-1">
    <label class="material-symbols-outlined mx-1">
        info
    </label>
    <div>
        <div style="font-size: 12px;" class="app-color-white75">
            Подключение
        </div>
        <div class="" style="font-size: 14px;">
            <div class="mb-1">- Перейдите во вкладку 'Токен' и получите токен подключения (Действителен 24 часа). </div>
            <div class="my-1">- Перейдите во вкладку 'Боты' и выберете необходимого (Обычно на каждый раздел определен свой бот).</div>
            <div class="my-1">- Перейдите в телеграм бота (В панели управления найдете соответствующую кнопку). Либо поделитесь ботом с пользователем, которого необходимо авторизировать.</div>
            <div class="my-1">- Пользователь должен запустить бота и ввести команду: <span class="font-monospace text-white">/add токен </span> (Пример:<span class="text-white font-monospace">/add f3254-2das44-2aeqw4-dqw4a</span>)</div>
            <div class="my-1">- Обновите страницу на сайте либо воспользуйтесь кнопокой обновления. Если всё правильно сделано, пользователь появится в подписчиках.</div>
            <div class="mt-1">- Подпишите пользователя на сервисы (При активации сервиса пользователь получит уведолмение).</div>
            <div class="mt-1">- Готово! Пользователь может взаимодействовать с аккаунтом через Telegram, получать отчеты/уведомления и.т.д.</div>
        </div>
    </div>
</div>