<div class="row g-1">
    <div class="col-auto" style="width:120px">
        <ul class="app-active-list mb-0 overflow-auto">
            <li *ngFor="let subject of subjects" 
                class="d-flex flex-row justify-content-between rounded-1" 
                [ngClass]="{'active' : selectedSubject == subject}" (click)="selectSubject(subject)">
                <span class="text-truncate app-color-white75">{{subject}}</span>
            </li>
        </ul>
    </div>
    <div *ngIf="selectedSubject != null" class="col" style="width: 200px;">
        <div *ngIf="selectedSubject == 'Информация'">
            <div class="d-flex flex-column mb-1">
                <label class="text-truncate lh-sm" style="font-size: 12px; opacity: 0.7;">Артикул</label>
                <input [(ngModel)]="filter.article" type="text" class="me-1 px-1 app-form-light app-form form-control form-control-sm app-select shadow-none">
            </div>
            <div class="d-flex flex-column mb-1">
                <label class="text-truncate lh-sm" style="font-size: 12px; opacity: 0.7;">Артикул продавца</label>
                <input [(ngModel)]="filter.sellerArticle" type="text" class="me-1 px-1 app-form-light app-form form-control form-control-sm app-select shadow-none">
            </div>
            <div class="d-flex flex-column mb-1">
                <label class="text-truncate lh-sm" style="font-size: 12px; opacity: 0.7;">Название</label>
                <input [(ngModel)]="filter.name" type="text" class="me-1 px-1 app-form-light app-form form-control form-control-sm app-select shadow-none">
            </div>
            <div class="d-flex flex-column">
                <label class="text-truncate lh-sm" style="font-size: 12px; opacity: 0.7;">Бренд</label>
                <input [(ngModel)]="filter.brand" type="text" class="me-1 px-1 app-form-light app-form form-control form-control-sm app-select shadow-none">
            </div>
        </div>
        <div *ngIf="selectedSubject == 'Показатели'">
            <div class="mb-1">
                <div class="row gx-1">
                    <label class="text-truncate lh-sm" style="font-size: 12px; opacity: 0.7;">Цена</label>
                    <div class="col">
                        <input [(ngModel)]="filter.minPrice" type="number" class="px-1 app-form-light app-form form-control form-control-sm app-select shadow-none">
                    </div>
                    <div class="col-auto">
                        <label>-</label>
                    </div>
                    <div class="col">
                        <input [(ngModel)]="filter.maxPrice" type="number" class="px-1 app-form-light app-form form-control form-control-sm app-select shadow-none">
                    </div>
                </div>
            </div>
            <div class="mb-1">
                <div class="row gx-1">
                    <label class="text-truncate lh-sm" style="font-size: 12px; opacity: 0.7;">Скидка</label>
                    <div class="col">
                        <input [(ngModel)]="filter.minDiscount" type="number" class="px-1 app-form-light app-form form-control form-control-sm app-select shadow-none">
                    </div>
                    <div class="col-auto">
                        <label>-</label>
                    </div>
                    <div class="col">
                        <input [(ngModel)]="filter.maxDiscount" type="number" class="px-1 app-form-light app-form form-control form-control-sm app-select shadow-none">
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row gx-1">
                    <label class="text-truncate lh-sm" style="font-size: 12px; opacity: 0.7;">Сток</label>
                    <div class="col">
                        <input [(ngModel)]="filter.minStock" type="number" class="px-1 app-form-light app-form form-control form-control-sm app-select shadow-none">
                    </div>
                    <div class="col-auto">
                        <label>-</label>
                    </div>
                    <div class="col">
                        <input [(ngModel)]="filter.maxStock" type="number" class="px-1 app-form-light app-form form-control form-control-sm app-select shadow-none">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectedSubject == 'Статусы'" class="app-color-white75">
            <div class="form-check form-switch m-0 ps-0 text-truncate d-flex flex-row align-items-center ">
                <input [(ngModel)]="filter.isSelected"
                class="form-check-input shadow-none app-check-input m-0 me-1" type="checkbox" role="switch">
                <label style="font-size: 12px;">Только выбранные</label>
            </div>
            <div class="form-check form-switch m-0 ps-0 text-truncate d-flex flex-row align-items-center">
                <input [(ngModel)]="filter.isChangePrice"
                class="form-check-input shadow-none app-check-input m-0 me-1" type="checkbox" role="switch">
                <label style="font-size: 12px;">С изменениями цены</label>
            </div>
            <div class="form-check form-switch m-0 ps-0 text-truncate d-flex flex-row align-items-center">
                <input [(ngModel)]="filter.isChangeDiscount"
                class="form-check-input shadow-none app-check-input m-0 me-1" type="checkbox" role="switch">
                <label style="font-size: 12px;">С изменениями скидки</label>
            </div>
            <div class="form-check form-switch m-0 ps-0 text-truncate d-flex flex-row align-items-center">
                <input [(ngModel)]="filter.canEditSize"
                class="form-check-input shadow-none app-check-input m-0 me-1" type="checkbox" role="switch">
                <label style="font-size: 12px;">Доступны размеры</label>
            </div>
        </div>
    </div>
</div>
