<div class="d-flex flex-row">
    <div>
        <div style="width: 200px;">
            <div class="d-flex flex-row">
                <select [disabled]="isLoad" [(ngModel)]="selectedColumnType" (ngModelChange)="loadColumns()" class="form-select form-select-sm app-select shadow-none border-1 mx-1">
                    <option *ngFor="let columnType of columnTypes"  [ngValue]="columnType">{{columnType.name}}</option>
                </select>
                <div class="mx-1">
                    <button [disabled]="isLoad" [cdkMenuTriggerFor]="addMenu" class="app-icon-button app-main-button app-button-border">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </button>
                </div>
                <ng-template #addMenu>
                    <div class="d-flex flex-column p-1 rounded-2 app-transparent-dark-bg shadow mt-1" cdkMenu>
                        <input [(ngModel)]="newColumnName" class="form-control form-control-sm app-select shadow-none mb-1" placeholder="Название" type="text">
                        <button [disabled]="isAddingNewColumn" (click)="add()" class="app-button app-main-button app-button-border">
                            <span class="mx-1">Создать</span>
                            <app-spiner size="sm" *ngIf="isAddingNewColumn"></app-spiner>
                        </button>
                    </div>
                </ng-template>
            </div>
            <app-recommendation-variables-clue *ngIf="selectedColumnType.id == 1"></app-recommendation-variables-clue>
            <div *ngIf="isLoad == false && columns.length > 0" class="active-dark-bg flex-fill mx-1 mt-2 rounded-2 p-1">
                <div *ngFor="let column of columns" class="d-flex flex-row justify-content-between">
                    <button (click)="selectColumn(column)" class="flex-fill d-flex align-items-center text-start app-list-button" [ngClass]="{'active' : selectedColumn == column}">
                        <span class="text-truncate">{{column.data.name}}</span>
                    </button>
                    <div class="ms-1">
                        <button [disabled]="column.actions.isLoad" (click)="delete(column)" class="app-icon-button app-icon-circle">
                            <span *ngIf="column.actions.isLoad == false; else closeButtonSpiner" class="material-symbols-outlined">
                                close
                            </span>
                            <ng-template #closeButtonSpiner>
                                <app-spiner size="sm"></app-spiner>
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="isLoad" class="active-dark-bg flex-fill mx-1 mt-2 rounded-2 p-1">
                <div class="my-2">
                    <app-spiner size="big"></app-spiner>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-fill mx-1">
        <app-cells [columnId]="selectedColumn?.data?.id ?? null"></app-cells>
    </div>
</div>