<nav class="active-dark-bg app-header header-height">
    <div class="app-container h-100">
        <div class="d-flex justify-content-between h-100">
            <div class="d-flex align-items-center mx-2">
                <label class="logo">MP-FORCE</label>
            </div>
            <div class="d-flex flex-row align-items-center bd-highlight mx-1">
                <app-icon-button [border]="true" class="me-1">person</app-icon-button>
                <app-icon-button [border]="true" id="sidebar-show-button" class="me-1 only-mobile" (click)="toggleClick()">menu</app-icon-button>
                <div class="me-1">

                </div>
            </div>
        </div>
    </div>
</nav>