<nav class="active-dark-bg app-header header-height">
    <div class="app-container h-100">
        <div class="d-flex justify-content-between h-100">
            <div class="d-flex align-items-center mx-2">
                <label class="logo">MP-FORCE</label>
            </div>
            <div class="d-flex flex-row align-items-center bd-highlight mx-1">
                <button class="app-icon-button app-button-border position-relative">
                    <span class="position-absolute translate-middle p-1 bg-danger border border-light rounded-circle"
                        style="left: 85% !important; top: 15% !important;">
                      </span>
                    <span class="material-symbols-outlined">
                        notifications
                    </span>
                </button>
                <button [cdkMenuTriggerFor]="userMenu" class="app-icon-button app-button-border mx-1">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </button>
                <div>
                    <ng-template #userMenu>
                        <div class="d-flex flex-column p-1 mt-1 rounded-2 app-transparent-dark-bg shadow" cdkMenu>
                            <app-user-menu></app-user-menu>
                        </div>
                    </ng-template>
                </div>
                <button id="sidebar-show-button" class="app-icon-button app-button-border me-1 only-mobile" (click)="toggleClick()">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <div class="me-1">

                </div>
            </div>
        </div>
    </div>
</nav>