<nav class="active-dark-bg app-header header-height">
    <div class="app-container h-100">
        <div class="d-flex justify-content-between h-100">
            <div class="d-flex align-items-center mx-2">
                <label class="logo">MP-FORCE</label>
            </div>
            <div class="d-flex flex-row align-items-center bd-highlight mx-1">
                <span class="mx-1">Аккаунт</span>
                <button id="sidebar-show-button" type="button" class="app-icon-button mx-1" (click)="toggleMenu()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
    </div>
</nav>