<div class="active-dark-bg app-warn-alert app-color-white75 flex-fill d-flex align-items-center rounded-2 py-1">
    <label class="material-symbols-outlined mx-1">
        info
    </label>
    <div style="font-size: 12px;" class="app-color-white75 lh-sm me-1">
        <div>Вы можете помочь проекту сделал пожертвование на любую сумму.</div>
        <div class="mt-1">На что пойдут ваши деньги:</div>
        <div>- Ежемесечная оплата серверов для сайта и приложений</div>
        <div>- Покупка SSL сертификата для безопасности ваших данных</div>
        <div>- Оплата бэкапов БД </div>
        <div>- Оплата прокси для безопасности отправки HTTP запросов</div>
        <div>- Разработка и хостинг лендинга</div>
        <div>- Разработка сервиса</div>
    </div>
</div>

<div class="active-dark-bg app-warn-alert app-color-white75 flex-fill d-flex align-items-center rounded-2 py-1">
    <label class="material-symbols-outlined mx-1">
        info
    </label>
    <div style="font-size: 12px;" class="app-color-white75 lh-sm me-1">
        <div></div>
        <div class="mt-1"><iframe src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=137C53JIUG7.240607&" width="330" height="50" frameborder="0" allowtransparency="true" scrolling="no"></iframe>​</div>
    </div>
</div>