<div class="active-dark-bg app-warn-alert app-color-white75 flex-fill d-flex align-items-center rounded-2 py-1">
    <label class="material-symbols-outlined mx-1">
        info
    </label>
    <div class="row w-100">
        <div style="font-size: 12px;" class="app-color-white75 lh-sm col-12 col-sm-8">
            <div>Вы можете помочь проекту сделав пожертвование на любую сумму.</div>
            <div class="mt-1">На что пойдут ваши деньги:</div>
            <div>- Ежемесечная оплата серверов для сайта и приложений</div>
            <div>- Покупка SSL сертификата для безопасности ваших данных</div>
            <div>- Оплата бэкапов БД </div>
            <div>- Оплата прокси для безопасности отправки HTTP запросов</div>
            <div>- Разработка и хостинг лендинга</div>
            <div>- Разработка сервиса и поддержка</div>
        </div>
        <div class="app-color-white75 lh-sm col-12 col-sm-4 d-flex flex-column justify-content-center">
            <a _ngcontent-tuh-c37="" href="https://yoomoney.ru/to/410011023061415" target="_blank" style="font-size: 20px;" class="app-link app-main-link m-1 d-flex align-items-center border rounded-3 p-1 justify-content-center"><span class="material-symbols-outlined">credit_card</span>Yoomoney</a>
            <a _ngcontent-tuh-c37="" href="https://pay.web.money/d/s7mw" target="_blank" style="font-size: 20px;" class="app-link app-main-link m-1 d-flex align-items-center border rounded-3 p-1 justify-content-center"><span class="material-symbols-outlined me-1">credit_card</span>Webmoney</a>
        </div>
    </div>
</div>