<app-modal [dialogRef]="dialogRef" name="Обновление токена">
    <div style="max-width: 400px;">
        <div class="d-flex flex-row mb-2">
            <input [(ngModel)]="token" class="form-control form-control-sm app-select shadow-none me-1"
                placeholder="Новый токен" type="text">
            <button (click)="refresh()" class="app-icon-button app-button-border">
                <span *ngIf="isLoad == false"  class="material-symbols-outlined">
                    published_with_changes
                </span>
                <app-spiner *ngIf="isLoad" size="sm"></app-spiner>
            </button>
        </div>
        <div class="active-dark-bg app-warn-alert app-color-white75 flex-fill d-flex align-items-center rounded-1 p-1 mb-1">
            <span class="material-symbols-outlined me-1">
                info
            </span>
            <div>
                <div style="font-size: 12px;" class="app-color-white75 lh-sm">
                    Пожалуйста не закрывайте окно и дождитесь проверки токена.
                </div>
                <div style="font-size: 12px;" class="app-color-white75 lh-sm">
                    Система просматривает все ваши активные сервисы, если хотя бы к 1 сервису не будет доступа. Вы получите уведомление об ошибке.
                </div>
            </div>
        </div>
    </div>
</app-modal>
