<div class="" style="height: calc(100vh - 220px); width: 150px;">
    <div class="mb-2 d-flex flex-row">
        <button class="app-icon-button app-main-button app-button-border flex-fill">
            <span class="material-symbols-outlined">
                add
            </span>
        </button>
        <button class="app-icon-button app-main-button app-button-border flex-fill mx-1">
            <span class="material-symbols-outlined">
                edit
            </span>
        </button>
        <button class="app-icon-button app-main-button app-button-border flex-fill">
            <span class="material-symbols-outlined">
                check
            </span>
        </button>
    </div>
    <div *ngIf="isEditMode; else articlesList" style="height: calc(100vh - 260px);">
        <textarea [(ngModel)]="value" style="resize: none;" 
        class="form-control app-select shadow-none h-100" 
        placeholder="Каждый артикул вводится с новой строки">
        </textarea>
    </div>
    <ng-template #articlesList>

    </ng-template>
</div>
