<div class="d-flex flex-column p-1 mt-1 rounded-2 app-transparent-dark-bg shadow">
    <button [disabled]="isDisable" (click)="downloadAsExcel()" cdkMenuItem class="app-button">
        <span class="material-symbols-outlined">
            download
        </span>
        <span class="mx-1">Скачать</span>
    </button>
    <button [disabled]="isDisable" (click)="addRange()" cdkMenuItem class="app-button">
        <span class="material-symbols-outlined">
            add
        </span>
        <span class="mx-1">Добавить</span>
    </button>
    <button [disabled]="isDisable" (click)="replaceRange()"  cdkMenuItem class="app-button">
        <span class="material-symbols-outlined">
            restart_alt
        </span>
        <span class="mx-1">Заменить</span>
    </button>
</div>