<header>
  <app-header></app-header>
</header>
<main>
  <div class="app-body-container">
    <div *ngFor="let i of nums" class="d-flex flex-row justify-content-between mb-2">
      <div class="mx-2 w-100 p-1 text-center active-dark-bg rounded-2">
        Test 1
      </div>
      <div class="mx-2 w-100 p-1 text-center active-dark-bg rounded-2">
        Test 2
      </div>
      <div class="mx-2 w-100 p-1 text-center active-dark-bg rounded-2 ">
        Test 3
      </div>
    </div>
  </div>
</main>