<div style="font-size: 14px;" class="mt-2 active-dark-bg rounded-3 border app-soft-element-border-color overflow-auto p-1">
    <button [disabled]="isLoadAddButton"  [cdkMenuTriggerFor]="addMenu" style="max-width: 200px;" class="app-button app-main-button w-100 app-button-border me-1 d-flex flex-row justify-content-between">
        <span class="text-truncate" style="max-width: 170px; font-size: 14px;">Ключевые слова</span>
        <span class="material-symbols-outlined">
            add
        </span>
    </button>
    <ng-template #addMenu>
        <div class="d-flex flex-column p-1 rounded-2 app-transparent-dark-bg shadow mt-1" cdkMenu>
            <input (keydown.enter)="add()" 
            [(ngModel)]="newWord" 
            class="form-control form-control-sm app-select shadow-none mb-1" 
            placeholder="Название (Enter)" 
            type="text">
            <button [disabled]="isLoadAddButton" (click)="add()" class="app-button app-main-button app-button-border">
                <span class="mx-1">Создать</span>
                <app-spiner size="sm" *ngIf="isLoadAddButton"></app-spiner>
            </button>
        </div>
    </ng-template>
    <table *ngIf="rows.length > 0" class="table table-bordered table-hover table-sm mt-2">
        <thead>
          <tr>
            <th scope="col"><div style="width: 300px;" >Назначение</div></th>
            <th *ngFor="let promotion of rows[0].columns" scope="col">{{promotion.title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let promotionRow of rows">
            <td>
                <div style="max-width: 300px;" class="d-flex flex-row">
                    <button (click)="delete(promotionRow.id)" class="app-icon-button app-button-border me-1">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                    <span class="text-truncate">{{promotionRow.name}} (Поз.)</span>
                </div>
            </td>
            <td *ngFor="let promotionColumn of promotionRow.columns">{{promotionColumn.value == null ? '-' : promotionColumn.value }}</td>
          </tr>
        </tbody>
      </table>
</div>