<div class="mx-1">
    <app-tab-bar>
        <app-tab-bar-button routerLink="columns" routerLinkActive="active">Колонки</app-tab-bar-button>
        <app-tab-bar-button routerLink="recommendation-table" routerLinkActive="active">Таблица рекомендаций</app-tab-bar-button>
        <app-tab-bar-button>Черный список</app-tab-bar-button>
        <app-tab-bar-button>Шаблоны</app-tab-bar-button>
        <app-tab-bar-button>Подключение</app-tab-bar-button>
        <app-tab-bar-button>Отчеты</app-tab-bar-button>
        <app-tab-bar-button>Тестирование</app-tab-bar-button>
    </app-tab-bar>

    <div class="active-dark-bg rounded-2 mt-3">
        <router-outlet></router-outlet>
    </div>
</div>
