<div class="d-flex flex-column p-1 rounded-2 app-transparent-dark-bg shadow mt-1" cdkMenu>
    <input [(ngModel)]="value.name" 
        class="form-control form-control-sm app-select shadow-none mb-1" 
        type="text">
    <textarea [(ngModel)]="value.description" 
        class="form-control form-control-sm app-select shadow-none mb-1" 
        type="text">
    </textarea>
    <button [disabled]="isLoad" class="app-button app-main-button app-button-border">
        <span class="mx-1">Создать</span>
        <app-spiner size="sm" *ngIf="isLoad"></app-spiner>
    </button>
</div>