.app-button{
    display: flex;
    align-items: center;
    height: 32px;
    padding: 2px 5px 2px 5px;
    justify-content: center;
    background-color: $transparent0;
    border: 0px;
    border-radius: 6px;
}

.app-button:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

.app-button span {
    color: $white-transporent75;
}

.app-button:hover{
    background-color: $grey-transporent25;
    border: 1px;
}

.app-button:hover span{
    color: white;
}

.app-button:active{
    background-color: $grey-transporent50;
}