.app-icon-button{
    display: flex;
    align-items: center;
    height: 32px;
    width: 32px;
    padding: 2px;
    justify-content: center;
    background-color: var(--elements-dark);
    border-width: 0px;
    border-radius: 6px;
}

.app-icon-button.app-icon-button-border {
    border-width: 1px;
    border-color: var(--grey-transparent50);
}

.app-icon-button:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

.app-icon-button span {
    color: var(--white-transparent75);
}

.app-icon-button:hover{
    background-color: var(--grey-transparent25);
}

.app-icon-button.only-text{
    background-color: var(--full-transparent)
}

.app-icon-button:hover span{
    color: white;
}

.app-icon-button:active{
    background-color: var(--grey-transparent50);
}