.app-main-button{
    background-color: var(--elements-dark);
}

.app-main-button span {
    color: $white-transporent75;
}

.app-main-button:hover{
    background-color: $grey-transporent25;
}

.app-main-button.only-text{
    background-color: var(--full-transparent)
}

.app-main-button:active{
    background-color: $grey-transporent50;
}