<div
    class="d-flex flex-row align-items-center active-dark-bg rounded-3 flex-fill mt-1 border app-soft-element-border-color">
    <button [disabled]="isLoad" [cdkMenuTriggerFor]="templatesSelectMenu" style="width: 250px;"
        class="app-button app-button-border d-flex flex-row justify-content-between m-1">
        <span class="text-truncate">
            {{selectSeller === null ? 'Выбрать подкючение' : selectSeller.name}}
        </span>
        <app-spiner *ngIf="isLoad" size="sm"></app-spiner>
        <span class="material-symbols-outlined">
            expand_more
        </span>
    </button>
    <ng-template #templatesSelectMenu>
        <div style="max-height: 300px; max-width: 300px;" class="rounded-2 app-transparent-dark-bg border shadow mt-1"
            cdkMenu>
            <div class="d-flex flex-column p-1 h-100">
                <div>
                    <input [(ngModel)]="searchSellerValue"
                        class="form-control form-control-sm app-select shadow-none mb-1" placeholder="🔍︎ Поиск"
                        type="text">
                </div>
                <span *ngIf="sellers.length === 0" class="app-color-white75" style="font-size: 12px;">Добавьте хотя бы 1
                    подключение</span>
                <ul class="app-active-list mb-0 overflow-auto">
                    <li *ngFor="let seller of sellers | nameFilter : searchSellerValue" (click)="select(seller)"
                        class="d-flex flex-row justify-content-between rounded-1"
                        [ngClass]="{'active' : selectSeller == seller}">
                        <span class="text-truncate app-color-white75">{{seller.name}}</span>
                        <app-active-status-info [isActive]="seller.autoresponderConnection.isActive" activeText="Вкл." inactiveText="Выкл."></app-active-status-info>
                    </li>
                </ul>
            </div>
        </div>
    </ng-template>
    <div class="vr app-color-white75"></div>
    <div *ngIf="selectSeller != null" class="d-flex flex-row justify-content-between flex-fill">
        <div>
            <button [disabled]="ratings == null" class="app-icon-button app-button-border mx-1">
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
        </div>
        <div class="form-check form-switch mb-0 d-flex align-items-center mx-1">
            <app-active-status-info [isActive]="selectSeller.autoresponderConnection.isActive" activeText="Вкл." inactiveText="Выкл."></app-active-status-info>
            <input [(ngModel)]="selectSeller.autoresponderConnection.isActive"
                (ngModelChange)="changeStatus(selectSeller)"
             class="form-check-input shadow-none app-check-input ms-1" 
             type="checkbox" role="switch">
          </div>
    </div>
</div>
<div class="mt-3">
    <app-ratings *ngIf="selectSeller != null" (ratings)="ratings" [connectionId]="selectSeller.id"></app-ratings>
</div>