$active-dark: rgb(35, 38, 43);
$inactive-dark: #141414;
$dark: #0f0f0f;
$transparent0 : #ffffff00;
$grey-transporent15 : #ffffff15;
$grey-transporent25 : #ffffff25;
$grey-transporent50 : #ffffff50;
$white-transporent75 : #ffffffbd;
$white-transporent0 : #ffffff00;

:root{
    --elements-dark: rgb(35, 38, 43);
    --backgroun-dark: #141414;
    --dark: #0f0f0f;;
    --full-transparent : #ffffff00;
    --grey-transparent15: #ffffff15;
    --grey-transparent25: #ffffff25;
    --grey-transparent50: #ffffff50;
    --white-transparent75: #ffffffbd;
    --warn:#8a6622;

}