$active-dark: #212529;
$inactive-dark: #141414;
$dark: #0f0f0f;
$transparent0 : #ffffff00;
$grey-transporent15 : #ffffff15;
$grey-transporent25 : #ffffff25;
$grey-transporent50 : #ffffff50;
$white-transporent75 : #ffffffbd;
$white-transporent0 : #ffffff00;

:root{
    --elements-dark: #212529;
    --backgroun-dark: #141414;
    --modal-background: #282c2f;
    --dark: #0f0f0f;;
    --full-transparent : #ffffff00;
    --grey-transparent15: #ffffff15;
    --grey-transparent25: #ffffff25;
    --grey-transparent50: #ffffff50;
    --grey-transparent75: #ffffff75;
    --white-transparent75: #ffffffbd;
    --white-transparent90: #ffffffda;
    --warn:#8a6622;
    --error:#973232;
    --error-bg:#392228;
    --success:#27a691;
    --success-bg:#21312e;
    --soft-element-dark:#2b3035;

}