$active-dark: rgb(35, 38, 43);
$inactive-dark: #141414;
$transparent0 : #ffffff00;
$grey-transporent15 : #ffffff15;
$grey-transporent25 : #ffffff25;
$grey-transporent50 : #ffffff50;
$white-transporent75 : #ffffffbd;
$white-transporent0 : #ffffff00;